.memoria {background-color: blueviolet; display: grid; grid-template-rows: 1ft 1fr 1fr 1fr; max-width: 800px; margin: auto;}

body {background-color: aquamarine; margin: auto; font-family: sans-serif;}

header h1 {text-align: center;}

.kartya {background-image: url("kepek/hatter.jpg"); opacity: 0%;}



div img {width: 100%;}

.latszodik {opacity: 100%;}

.txt {max-width: 100px; width: 100%; opacity: 0%;}

#galeria {display: grid; grid-template-columns: repeat(5, 1fr); gap: 5px; max-width: 800px; margin: auto;}

#galeria div {border: solid 1px gold;}

